.modal-header {
  background: #21c25e;
  color: #fff;
  font-weight: bold;
}

.cartoes {
  cursor: pointer;
}

.cartoes:hover {
  background: #21c25e;
  color: #fff;
}

.radio-select {
  position: relative;
  margin-top: 0.8rem;
  float: left;
}
